@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>
<p>All provided information will be used as a way to authenticate a user. Information will NOT be used outside of this application.</p>
<p>Email does NOT necessarily need to exist to use this application(they can be fake), it just need to follow email address standarts.</p>
