@model Library.Models.Book

@{
    ViewData["Title"] = "SearchBook";
}

<h1>SearchBook</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchBookResults">
            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input name="title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="author" class="control-label">Author</label>
                <input name="author" class="form-control" />
            </div>
            <div class="form-group">
                <label for="publisher" class="control-label">Publisher</label>
                <input name="publisher" class="form-control" />
            </div>
            <div class="form-group">
                <label for="publishingDateStart" class="control-label">Publishing date start</label>
                <input name="publishingDateStart" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label for="publishingDateEnd" class="control-label">Publishing date end</label>
                <input name="publishingDateEnd" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label for="genre" class="control-label">Genre</label>
                <input name="genre" class="form-control" />
            </div>
            <div class="form-group">
                <label for="isbn" class="control-label">ISBN</label>
                <input for="isbn" class="form-control" />
            </div>

            <div>
                <label formaction="availability">Choose book availability</label>
                <select name="availability">
                    <option value="all">All</option>
                    <option value="available">Available</option>
                    <option value="notAvailable">Not available</option>
                </select>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

